@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.todo-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-container .wrapper {
    padding: 60px;
    width: auto;
    height: 550px;
    background: #efefef;
    position: relative;
    border-radius: 5px;
}
.todo-container .wrapper .title {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    color: #202020;
}
.todo-container .wrapper .complete-text {
    margin-top: 30px;
    text-align: right;
    font-size: 14px;
    color: #202020;
}
.todo-container .wrapper .input-todo {
    outline: none;
    color: #4a4a4a;
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    width: 500px;
    margin-right: 15px;
}
.todo-container .wrapper .add-btn {
    background: #4688f4;
    color: #fff;
    text-transform: inherit;
    width: 85px;
}
.todo-container .wrapper .clear-btn {
    background: #ff6868;
    color: #fff;
    text-transform: inherit;
    width: 85px;
    margin-left: 7px;
}
.todo-container .wrapper .list-container {
    margin-top: 30px;
    overflow: auto;
    height: calc(100% - 120px - 70px);
}
.todo-container .wrapper .list-container.true {
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-container .wrapper .list-container .nothing-text {
    font-size: 14px;
    color: #686868;
}
.todo-container .wrapper .list-container .list-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.todo-container .wrapper .list-container .list-row .delete-container {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
}
.todo-container .wrapper .list-container .list-row .delete-container i {
    text-align: center;
    font-size: 20px;
    color: #4a4a4a;
    transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}
.todo-container .wrapper .list-container .list-row .delete-container i:hover {
    transform: scale(1.15);
}
.todo-container .wrapper .list-container .list-row li {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    cursor: pointer;
    width: 680px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 10px;

    transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}
.todo-container .wrapper .list-container .list-row li:hover {
    background: #e7e7e7;
}
.todo-container .wrapper .list-container .list-row li .label {
    font-size: 14px;
    color: #4a4a4a;
}
.todo-container .wrapper .list-container .list-row li .label.true {
    color: #919191;
    text-decoration: line-through;
}
